* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 5%;
  background-color: rgb(242, 250, 250);
  height: 100vh;
  width: 100%;
}




.icon {
  width: 25px;
  height: 25px;
}
