:root {
  --large-text: 2rem;
  --small-text: 1rem;
}

.back-button-container {
  display: flex;
}

.back-button {
  border: none;
  width: 10%;
  padding: 1%;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
}

.country-flag-container {
  width: 50%;
  display: flex;
  align-items: center;
}

.country-description-wrapper {
  width: 50%;
  padding: 5%;
}

.country-description-container {
  line-height: 2rem;
  display: flex;
}

.large-image {
  width: 100%;
  height: 80%;
}

.name {
  font-size: var(--large-text);
}

.country-information-container {
  display: flex;
}

.basic-description,
.other-description {
  width: 50%;
}

.border-countries-container {
  display: flex;
}

.border-box {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin: 0px 5px;
  padding: 5px;
  cursor: pointer;
}

.icon {
  margin: 0px 10px;
}
