* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  width: 25%;
  margin: 25px 2px;
  color: black;
  text-decoration: none;
}

.country-card-container{
  width: 100%;

  height: 100%;
  
}

.country {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.flag-container {
  width: 100%;
  height: 50%;
}

.country-flag {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.country-information {
  padding: 20px;
}

.name,
.population,
.region,
.capital {
  font-weight: 700;
}
.name {
  margin-bottom: 3%;
}

.population,
.region,
.capital {
  margin-bottom: 1%;
}
