:root {
  --large-text: 2rem;
  --small-text: 1rem;
}

.main-container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.default-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--large-text);
  font-weight: 600;
}

.search-filter-container {
  display: flex;
  justify-content: space-between;
}

.search-container,
.filter-container {
  display: flex;
  padding: 15px;
  width: 30%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.filter-container {
  width: 15%;
}

.search-icon-container,
.dropdown-icon-container {
  width: 10%;
}

.search-text,
.filter-text {
  width: 90%;
  border: none;
}

.search-text:focus {
  outline: none;
}

.country-card-wrapper {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
